@{
    ViewBag.Title = "Credits";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<p>Akiyoshi Hongo: Maker of the original Digimon concept.</p>
<p>Hiroyuki Kakudo: Director of Digimon Adventure and Digimon Adventure 02.</p>
<p>Yukio Kaizawa: Director of Digimon Tamers, Digimon Frontier and Digimon Xros Wars: The Young Hunters Who Leapt Through Time.</p>
<p>Naoyuki Itō: Director of Digimon Savers.</p>
<p>Tetsuya Endō: Director of Digimon Xros Wars.</p>
<p>Jeff Nimoy: U.S. Director of Digimon Adventure, Digimon Adventure 02, and Digimon Data Squad (Savers).</p>
<p>Mary Elizabeth McGlynn: U.S. Director of Digimon Tamers and Digimon Frontier.</p>
<p>Chiaki J. Konaka: Head writer of Digimon Tamers.</p>
<p>Hiroshi Izawa: Author of the Digimon Adventure V-Tamer 01 manga.</p>
<p>Tenya Yabuno: Illustrator of the Digimon Adventure V-Tamer 01 manga.</p>
<p>Yuen Wong Wu: Writer and illustrator for the Digimon manhua series.</p>
<p>Takanori Arisawa: Composer of the Japanese versions of Digimon Adventure, Digimon Adventure 02, Digimon Tamers and Digimon Frontier.</p>
<p>Keiichi Oku: Composer of the Japanese version of Digimon Savers.</p>
<p>Kōsuke Yamashita: Composer of the Japanese version of Digimon Fusion.</p>
<p>Shuki Levy: Composer for the English language releases of Digimon Adventure, Digimon Adventure 02 and Digimon Tamers.</p>
<p>Deddy Tzur: Composer for the English language release of Digimon Frontier.</p>
<p>Thorsten Laewe: Composer for the English language release of Digimon Data Squad (Savers).</p>
<p>Noam Kaniel: Composer for the English language release of Digimon Fusion (Xros Wars).</p>
<p>Paul Gordon: Co-Composer for the English language theme song.</p>
<p>Kōji Wada: Performer of the opening themes of Digimon Adventure, Digimon Adventure 02, Digimon Tamers, Digimon Frontier and the second opening theme of Digimon Savers.</p>
<p>Ai Maeda: Performer of the ending themes of Digimon Adventure, Digimon Adventure 02, Digimon Tamers and the second ending theme of Digimon Frontier.</p>
<p>Miyazaki Ayumi: Performer of the opening and Digivolution themes of Digimon Adventure and Digimon Adventure 02.</p>
<p>Katsuyoshi Nakatsuru: Character designer for the first four seasons and their related films, before returning in 2019 for Last Evolution Kizuna and the reboot.</p>

