@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Digimon Catalog</h1>
    <p class="lead">Digimon (デジモン Dejimon?), short for (デジタルモンスター Dejitaru Monsutā?, "Digital Monster") is a popular Japanese series of media and merchandise created by Akiyoshi Hongo, which is comprised of anime, manga, toys, video games, trading card games and other media. Digimon, the lifeforms the series revolves around, are monsters of various forms living in a "Digital World," a parallel universe that originated from Earth's various communication networks. </p>

    <p>To explore more about this site, click on the button below.</p>
    <div class="btn btn-default">
        @Html.ActionLink("Menu", "Menu")
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>If you want to search more...</h2>
        <p>
            Click on the button bellow to acess the Digimon Wiki page, you will found almost everything about this franchise.
        </p>
        <p><a class="btn btn-default" href="https://digimon.fandom.com/wiki/Digimon_Wiki">Discover more about this world! &raquo;</a></p>
    </div>
